//- includes/head.pug
head
  title= title
  link(rel='stylesheet', href='/css/style.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Staatliches')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src='/javascripts/app.js')